# pycache
/__pycache__/*
**.DS_Store
**.pdf
**.h5
**.pyc

# ignore large files
/data/*raw*/
/data/embeddings/*
/data/sequences/*
# /data/UCSC-process/processed-genotype-gene-expression.csv
# /data/UCSC-process/processed-sequence-dna.csv
# /data/UCSC-process/processed-sequence-rna.csv
/data/UCSC-graph-data/x.npy
/data/UCSC-graph-data/*.npy
/data/UCSC-graph-data/**/*.npy
/data/UCSC-graph-data/seq.npy

# ignore the results
/data/UCSC-result/*

# ignore the ckpt files in finetuned llm model
models/finetune_llm/checkpoints/*.pth